# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.db
*.info
*.dll

#过滤数据库文件、sln解决方案文件、配置文件  
*.mdb  
*.ldb  
*.sln  
*.config  
*.user
*.suo

#过滤文件夹Debug,Release,obj  
Debug/  
Release/  
obj/
Library/
Temp/
*.csproj
*.txt
ProjectSettings/ProjectVersion.txt
Assets/Scripts/Command.meta
*.userprefs
Assets/Scripts/.vscode/settings.json
